{{ define "main" }}
<nav class="sidebar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        {{ end }}
    </nav>
    
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range $index, $element := .Paginator.Pages }}
        <li class="posts-list-item">
          <a href="{{ .Permalink }}"> {{ with .Params.featured_image }}<img src="{{ . }}" style="width:320px;height:180px;">{{ end }}</a> <BR><BR>
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
